.game-board {
  max-width: min(50vh, 500px);
  max-height: min(50vh, 500px);

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  height: 100%;
  width: 100%;

  gap: 1rem;

  background-color: #80808080;

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2rem;
    width: 2rem;
  }
}
