.game-board {
  width: min-content;

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  background-color: #80808020;

  gap: 1rem;

  &--order-1 {
    gap: 0;
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2rem;
    width: 2rem;

    border: 1px black solid;
  }
}
